.todoItem{
    border: solid 1px white;
    background: lightblue;
    padding: 15px;
    margin: 6px;
    display: block;
    float: left;
    color: black;
    width: 30%;
}
.description{
    font-size: 15px;
    font-weight: 600;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}
.location{
    font-size: 19px;
    font-weight: bolder;
}
img{
    width: 95%;
    height: 150px;
    padding: 0;
    margin: 0;
}